/* 팔각형 테두리 컨테이너 */
.piece-border {
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

/* piece-container에 그림자 적용 (clip-path 이전 요소) */
.piece-container {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.3))
    drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

.piece-border.han {
  background-color: #b22222;
}

.piece-border.cho {
  background-color: #228b22;
}

.piece-octagon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  border-radius: 12px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  margin: 0 auto;
  /* 우측 삼면 그림자 효과 */
  background: linear-gradient(135deg, #ffffff 80%, #e0e0e0 80%, #d0d0d0 100%),
    linear-gradient(to bottom, #ffffff 92%, #e0e0e0 80%, #d0d0d0 100%),
    linear-gradient(225deg, #ffffff 80%, #e0e0e0 50%, #d0d0d0 100%);
  background-blend-mode: multiply;
}

.piece-octagon.han {
  color: #b22222;
  font-weight: 700;
  font-family: 'Noto Serif SC', serif !important;
}

.piece-octagon.cho {
  color: #228b22;
  font-family: 'Ma Shan Zheng', cursive !important;
  font-weight: 400;
  padding-top: 5px; /* 텍스트를 아래로 이동 */
}

.piece-container p {
  color: #3e2723;
  font-weight: 500;
}

.piece-container:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease;
  /* filter: brightness(110%); */
}
.piece-container:not(:hover) {
  transform: scale(1);
  transition: transform 0.1s ease;
}

/* 마우스 오버 시 기물 강조 효과 */
/* .piece-container:hover .piece-octagon.han,
.piece-container:hover .piece-border.han {
  background-color: rgba(255, 99, 132, 0.4); 
  color: #ff6384;
}
.piece-container:hover .piece-octagon.cho,
.piece-container:hover .piece-border.cho {
  background-color: rgba(75, 192, 133, 0.4); 
  color: #4bc085;
} */
