# =========================
# Backend 빌드/출력/의존성
# =========================
/node_modules

/backend/dist
/backend/node_modules
/backend/build

# Backend 로그
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# Backend OS 관련
/backend/.DS_Store

# Backend 테스트 출력
/backend/coverage
/backend/.nyc_output

# Backend IDE/에디터 설정
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# Backend VSCode
/backend/.vscode/*
!/backend/.vscode/settings.json
!/backend/.vscode/tasks.json
!/backend/.vscode/launch.json
!/backend/.vscode/extensions.json

# Backend 환경변수 파일
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local

# Backend temp/runtime
/backend/.temp
/backend/.tmp
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock

# Backend diagnostic reports
/backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# =========================
# Frontend 빌드/출력/의존성
# =========================
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Frontend 로그
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# Frontend IDE/에디터 설정
/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
