.info-box {
  width: 100%;
  background: white;
  padding: 10px 30px;
  margin: 0;
  border-radius: 12px;
  border: 2px solid #d2b48c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-box h3 {
  margin: 5px 0 10px 0;
  font-size: 16px;
  color: #3e2723;
}

.infobox-container {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}
