.title-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 3vh 0 3vh 0;
}

.title-container h1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: #3e2723;
}

.title-container h3 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  color: #d2691e;
  letter-spacing: 0.5px;
}
