* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: '8bit', sans-serif;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: '8bit';
  font-weight: normal;
  src: url('./assets/fonts/DungGeunMo.ttf') format('truetype');
}
