.board-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #8b4513;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5deb3;

  transition: background-color 0.2s;
  position: relative;
}
