.board-cell {
  width: 60px;
  height: 60px;
  border-right: 2px solid #8b4513;
  border-bottom: 2px solid #8b4513;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5deb3;

  transition: background-color 0.2s;
  position: relative;
}

/* 첫 번째 열에는 왼쪽 border 추가 */
.board-cell:first-child {
  border-left: 2px solid #8b4513;
}

/* 첫 번째 행에는 위쪽 border 추가 */
.board-row:first-child .board-cell {
  border-top: 2px solid #8b4513;
}

/* 대각선이 있는 셀 */
.board-cell.diagonal::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.board-cell.fwdiagonal::before {
  background: linear-gradient(
    to top right,
    transparent calc(50% - 1px),
    #8b4513 calc(50% - 1px),
    #8b4513 calc(50% + 1px),
    transparent calc(50% + 1px)
  );
}
.board-cell.bwdiagonal::before {
  background: linear-gradient(
    to top left,
    transparent calc(50% - 1px),
    #8b4513 calc(50% - 1px),
    #8b4513 calc(50% + 1px),
    transparent calc(50% + 1px)
  );
}
